body {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px red;
}
.wrap {
    background-image: url('https://avatars.mds.yandex.net/i?id=33be592992566e30b992232f7a8fc074a9ba11a7-11042380-images-thumbs&n=13');
    background-size: 250px;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    border: 1px solid red;
}
.text {
    text-align: center;
    padding-left: 260px;
}
.textarea {
    text-align: center;
    padding-left: 330px;
}